<header class="data">
  <img src="/assets/images/json.svg" alt="data" on-click="dataTap()" [ngClass]="{invert:showData}">
</header>
<main>
  <div [ngClass]="{data:true, open:showData}">
    <div class="content-wrapper" [innerHTML]="content">
    </div>
  </div>
  <div class="chart">
    <div class="chart-wrapper">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
        [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis" [colors]="chartOptions.colors"></apx-chart>
    </div>
  </div>
</main>