.chart {
   height: 100vh;
   display: flex;
   align-items: center; 
}


.chart-wrapper {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .chart-wrapper {
        width: 70%;
    }
}