* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

/* body {
    overflow: hidden;
} */

/* apx-chart span, apx-chart tspan, apx-chart text {
    font-size: max(10px, 1vw) !important;
} */